
<ion-content class="ion-padding ion-text-center">
  <div class="container">
    <div class="page-header">
      <h1>App Delivery</h1>
      <h3>Compras desde tu hogar</h3>
    </div>

    <img src="../../assets/welcome_bg.png" />

    <div class="button-container">
      <ion-button expand="block" class="main-button" routerLink="/login">Iniciar Sesión</ion-button>
      <ion-button expand="block" color="dark" fill="clear" routerLink="/signup">Registrarse</ion-button>

    </div>

  </div>

</ion-content>
